@media only screen and (max-width: 1056px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        transition: all 1s ease-out;
        flex-direction: column;
        height: 525px;
    }

    .right-nav {
        text-align: center;

    }

    .burger {
        display: block;
    }

    .h-nav {
        height: 72px;

    }

    .v-class {
        opacity: 0;
    }

    .main_box {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .section {
        flex-direction: column-reverse;
    }
    .textbig{
        text-align: center;
    }
    .textsmall{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .formbtn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-sm{
        margin-top: 10px;
        margin-left: 80px ;
    }

}